.services {
    padding: 90px 0px;
}

.services-container {
    display: flex;
    
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;

    & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
    }
}

.service-card {
    max-width: 370px;
    min-width: 315px;
    flex: 1 1 0;
}

.service-card-title {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.service-card-img {
    margin-bottom: 30px;
}

